.navbar {
  background-color: #1a1a1a;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.menu-icon {
  display: none;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
  height: 100%;
  padding-top: 0;
  margin-top: 0;
}

.navbar-item {
  height: 50px;
  display: flex;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
}

.navbar-links {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: auto;
  margin: 0 0.3rem;
}

.navbar-links span {
  position: relative;
  z-index: 1;
  color: #fff;
}

.navbar-links::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 9px;
  transition: 0.5s;
}

.navbar-links:hover::before {
  opacity: 0.7;
}

.navbar-links::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.navbar-links:hover:after {
  opacity: 1;
}

.navbar-links:hover {
  color: #fff;
}

.navbar-links:hover span {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 50%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
  
  .navbar-menu {
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: #1a1a1a;
  }
  
  .navbar-menu.active {
    background: #1a1a1a;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  
  .navbar-links {
    text-align: center;
    padding: 8px 16px;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0.3rem auto;
  }
  
  .navbar-links:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}
