#root {
  width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > * {
  flex-shrink: 0;
}

.App > main {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}
